steimkebioladen/data
rkpsearch/data
heysteimke/heysteimkewindows
.idea/

config.json

# dependencies
dev/react-tutorial/node_modules
dev/react-tutorial/.pnp
.pnp.js

# testing
dev/react-tutorial/coverage

# production
dev/react-tutorial/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

